#color-1 {
    background-color: #064789;
}

.color-2 {
    background-color: #427aa1;
}

.color-3 {
    background-color: #ebf2fa;
}

.pageing {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
}

.arrow:hover {
    background-color: rgb(213, 213, 213);
}

.emptyMessage {
    text-align: center;
    margin-top: 3rem;
}

#icons {
    border-radius: 20%;
    height: 40px;
    cursor: pointer;
    --b: 0.1em; /* the thickness of the line */
    --c: #064789; /* the color */
    color: #064789;
    padding: 3px;
    padding-block: var(--b);
    background: linear-gradient(var(--c) 50%, #000 0) 0%
            calc(100% - var(--_p, 0%)) / 100% 200%,
        linear-gradient(var(--c) 0 0) 0% var(--_p, 0%) / var(--_p, 0%) var(--b)
            no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.3s var(--_s, 0s) linear,
        background-size 0.3s calc(0.3s - var(--_s, 0s));
}

#icons:hover {
    background-color: #427aa1;
    --_p: 100%;
    --_s: 0.3s;
}
